html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
  font: normal 16px Calibri, Helvetica, sans-serif;
  color: black;
  background: whitesmoke;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display: block;
}

p { 
  display: block; 
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img { 
  border: 0;
  margin: auto; 
}

h1 { 
  display: block;
  font: bold 2em Calibri, Helvetica, sans-serif;
  color: black; 
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h2 { 
  display: block;
  font: bold 1.5em Calibri, sans-serif;
  color: black;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 { 
  display: block;
  font: bold 1.17em Calibri, sans-serif;
  color: black;
  margin: 1em 0; 
}

h4 { 
  display: block;
  font: bold 1em Calibri, sans-serif;
  color: black;
  margin: 1.33em 0;
}

h5 { 
  display: block;
  font: bold .83em Calibri, sans-serif;
  color: black;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font: bold .67em Calibri, sans-serif;
  color: black;
  margin: 2.33em 0;
}
  
span { 
  color: #B1521A;
  text-shadow: none;
}

a, a:hover { 
  color: black;
  background: transparent;
  font-weight: bold;
  outline: none;
  text-decoration: underline;
}

a:hover { 
  text-decoration: none;
}

button, button:hover { 
  color: black;
  background: transparent;
  font-weight: bold;
  outline: none;
  text-decoration: underline;
}

button:hover { 
  text-decoration: none;
}

ul { 
  
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

#main, header, #banner, #menubar, #site_content, footer, #content_grey, nav, #slideshow_container { 
  margin: 0 auto;
}
  
header { 
  height: 180px;
  background: whitesmoke;
}
 
nav { 
  height: 50px;
}  
  
#strapline { 
  width: 1000px;
  height: 120px;
  margin: 0 auto;
} 
  
#welcome_slogan { 
  width: 1000px; 
  float: none; 
  height: 120px; 
  padding-top: 30px; 
  margin: 0 auto;
  font-family: Calibri;
} 

#menubar { 
  width: 1000px;
  height: 50px;
  margin: 10px auto;
}    
  
ul#nav { 
  margin: 0 auto;
}

ul#nav li { 
  float: left;
  margin:0 auto;
  padding: 0;
  list-style: none;
  background: transparent;
  overflow: hidden;
}

ul#nav li a, li.current a { 
  float: left;
  font-size: 1.5em;
  padding: 4px 16px;
  background: transparent; 
  text-decoration: none;
}

ul#nav li:hover a {
  color: purple;
  background: whitesmoke;
  text-shadow: none;
}

ul#nav li button { 
  float: left;
  font-size: 1.5em;
  padding: 4px 16px;
  background: transparent; 
  text-decoration: none;
}
  
ul#nav li:hover button {
  color: purple;
  background: whitesmoke;
  text-shadow: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  display: inline-block;
}

.dropdown:hover .dropbtn {
  background-color: whitesmoke;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gainsboro;
  margin: 40px 0;
  min-width: 100px;
  z-index: 1000;
}

ul#nav li .dropdown-content a {
  float: none;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1em;
}

.dropdown-content a:hover {
  background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* styling for the slideshow on the homepage */
#slideshow_container { 
  height: 620px;
  background: whitesmoke;
  padding-top: 20px;
}
  
.slideshow { 
  width: 800px;
  height: 600px;
  margin: 0 auto;
}  

ul.slideshow { 
  list-style: none;
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: relative;
}
  
ul.slideshow li { 
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}
 
ul.slideshow li.show { 
  z-index: 500;
}
 
ul img { 
  border: none;
}
 
#slideshow-caption { 
  width: 800px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;
}
 
#slideshow-caption .slideshow-caption-container { 
  padding: 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;
}
 
#slideshow-caption p {
  padding: 0;
  margin: 0;
  font: normal Calibri, sans-serif;
  color: #FFF;
  text-shadow: none;
}  

section {
  background-color: rgb(100, 0, 100);
}

.subbanner {
  width: 1000px;
  padding: 10px 0; 
  margin: 0 auto;
}

.subbanner h1 {
  color: whitesmoke;
}

#site_content { 
  width: 1000px;
  overflow: hidden;
} 

.sidebar_container {
  float: right;
  margin: 20px 0 0 10px;
  width: 240px;
}

.sidebar { 
  float: left;
  width: 240px;
  margin-bottom: 10px;
}

.sidebar_item { 
  font: normal 100% Calibri, Helvetica, sans-serif;
  width: 240px;
}

.sidebar h2 { 
  padding: 5px 0 0 0;
  font: normal 140% 'News Cycle', Calibri, sans-serif;
  height: 30px;
}  

#content { 
  width: 1000px; 
  float: left;
}

.content_item { 
  width: 1000px;
  margin-bottom: 20px;
  float: left;
}

.content_item_home { 
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}

.content_item_home p {
  font-weight: bold;
  color: purple;
  font-size: 21.6px; 
}

.content_item a { 
  color: purple;
  text-shadow: none;
  text-decoration: none;
  font-weight: normal;
}
  
.content_item a:hover { 
  text-decoration: underline;
}

/* for figures and research summary on the research page */
.content_container { 
  width: 1000px;
  float: left;
}

.content_container_2 { 
  width: 400px;
  margin: 10px;
  height: 300px;
}

.content_containerX { 
  margin: 20px 20px 20px 460px; 
  text-align: justify;
  font-size: 14pt;
  height: 300px;
}

.content_containerX_2 { 
  margin: 10px; 
  text-align: justify;
  font-size: 14pt;
}

.content_containerY { 
  clear: both; 
  margin: 20px;
  text-align: justify;
  font-size: 14pt;
  height: 160px;
}

.content_containerY_2 { 
  margin: 20px;
}

/* for the photo on the member page*/
.content_container2 { 
  display: flex;
  width: 300px;
  padding: 20px 10px;
  height: 300px;
  float: left; 
}

.content_container2_PI { 
  display: flex;
  width: 300px;
  padding: 20px 10px;
  height: 400px;
  float: left; 
}

.valign { 
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
}

/* for current group members on the members page*/
.content_container_current { 
  display: block;
  width: 1000px;
  height: 300px;
  padding: 20px 10px;
  line-height: 240px;
}

.content_container_current_PI { 
  display: block;
  width: 1000px;
  height: 400px;
  padding: 20px 10px;
  line-height: 240px;
}

.content_container_alumni { 
  display: block;
  width: 1000px;
  height: 300px;
  padding: 20px 10px;
  line-height: 240px;
}

.content_container_people { 
  width: 320px;
  padding: 5px;
  font-size: 14pt; 
  float: left;
  clear: both;
  text-align: center;
}

.content_container_people2 { 
  display: flex;
  width: 300px;
  padding: 10px;
  height: 240px;
  float: left;
}

/* for the honors and awards on the people page*/
.content_container4 { 
  width: 940px;
  padding: 10px 30px;
  font-size: 14pt;
  line-height: 24px;
}

/* for about me on the people page */
.content_container5 { 
  width: 940px;
  padding: 10px 30px;
  text-align: justify;
  font-size: 14pt;
  text-indent: 2em;
  line-height: 24px;
}
  
footer { 
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 15pt;
  padding-top: 20px;
  padding-bottom: 20px;  
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  background: rgb(100, 0, 100);
}

footer a, footer a:hover { 
  color: whitesmoke;
  text-shadow: none;
  text-decoration: none;
}

footer a:hover { 
  text-decoration: underline;
}
  
.readmore a { 
  color: #FFF;
  text-shadow: none;
}

.button_small { 
  font: normal Calibri, Helvetica, sans-serif;
  float: left;
  height: 15px;
  padding: 2px 10px 8px 10px;
  background: rgb(181, 19, 67);
  /*background: -moz-linear-gradient(rgb(37, 18, 199), rgb(26, 18, 153));
  background: -o-linear-gradient(rgb(37, 18, 199), rgb(26, 18, 153));
  background: -webkit-linear-gradient(rgb(37, 18, 199), rgb(26, 18, 153));
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;*/
}
  
.button_small a { 
  color: whitesmoke;
  padding: 0 0 5px 0;
  text-shadow: none;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}

#ad {  
  position: relative;
  width: 860px;  
  height: 600px;  
  margin: 0 auto 40px auto;
}  

#ad li {  
  list-style: none;  
}  

#ad_img li {  
  display: none;  
}  

#ad_num {  
  overflow: hidden;  
  position: absolute; 
  bottom: 10px;  
  right: 50px;  
  color:#FFF;  
}  
 
#ad_num li {  
  border:#FFF solid 1px;  
  float: left;  
  margin: 0px 5px;  
  padding: 3px 10px;  
}  

.numsover {  
  background-color:whitesmoke;  
  color:rgb(181, 19, 67);  
}  

.numsout {

}  

/*clearfix hack*/
.clearfix {
  overflow: auto;
}